<%= form_with(model: link, local: true) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    
    <%= form.text_field :name, id: :link_name, placeholder: "UTM Name", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :reg_url, id: :link_reg_url, placeholder: "Base URL", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :src_name, id: :link_src_name, placeholder: "Source i.e. UW, VW, etc. ", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :pfm_name, id: :link_pfm_name, placeholder: "Platform i.e. Facebook, Email, etc.", class: "form-control" %>
  </div>

  <div class="Form-group">
    <%= form.text_field :opt_identifier, id: :link_opt_identifier, placeholder: "Optional Field", class: "form-control" %>
  </div>
  
  <hr>
  
  <div>
    <%= form.submit "Submit", class: "form-control btn btn-primary" %>
  </div>

  <hr>

<% end %>
