<%= form_with(model: link, local: true) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :link_name %>
  </div>

  <div class="field">
    <%= form.label :reg_url %>
    <%= form.text_field :reg_url, id: :link_reg_url %>
  </div>

  <div class="field">
    <%= form.label :src_name %>
    <%= form.text_field :src_name, id: :link_src_name %>
  </div>

  <div class="field">
    <%= form.label :pfm_name %>
    <%= form.text_field :pfm_name, id: :link_pfm_name %>
  </div>

  <div class="field">
    <%= form.label :opt_identifier %>
    <%= form.text_field :opt_identifier, id: :link_opt_identifier %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
